<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Sign Up</h1>

    <form action="" method="POST">

        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" value=""></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="text" name="password" value=""></td>
            </tr>
            <tr>
                <td>confirmpassword</td>
                <td><input type="text" name="confirmpassword" value=""></td>
            </tr>
            <!-- <tr>
                <td>Email</td>
                <td><input type="text" name="Email" value=""></td>
            </tr> -->
            
        </table>
        
        <br>
    
        Already a account?<a href="http://localhost:5000/login">Log in</a>
    
        <br><br>
    
        <!-- <button type="otp">Get otp</button> -->
        <button type="submit">Sign Up</button>

    </form>

    <script>

        var a = document.getElementById('username').innerText;
        console.log(a);

    </script>

</body>
</html>